* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    margin: -2.3em 0 7em;
    background-color: lightcoral;
    height: 80px;
}

h1 {
    text-align: center;
}

.flex{
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 20px;
}

.main {
    width: 95vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    text-align: center;
    width: 50em;
    background-color: darkslategrey;
    padding: 20px;
    color:#42a3b8;
    border-radius: 20px;
}

form input::placeholder {
    width: 15em;
    margin: 3px;
    height: 2em;
    color:antiquewhite;
}

form .btn {
    margin: 2em 1em;
    width: 60%;
    height: 40px;
    text-transform: uppercase;
    color: rgb(55, 9, 116);
    letter-spacing: 2px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

#results{
    width: 85vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50em;
    background-color: darkslategrey;
    padding: 20px;
    color:aliceblue;
    border-radius: 20px;
    margin: 20px;
}

.user{
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}

.icons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 1em;

}

.fas {
    font-size: 2.5em;
    border-radius: 50%;
    padding: 40px;

}

.fa-plane {
    color:coral;
}

.fa-wallet {
    color:darkviolet;
}

.fa-money-bill-wave-alt {
    color: #42a3b8;
}

.container-data {
    display: flex;
    justify-content: space-around;
    margin-top: -1em;
}
